<!DOCTYPE html>
<html lang="en">
<head>
    @model RegistroViewModel
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplicationEntrenadorPokemon.styles.css" asp-append-version="true" />


    @{
        ViewData["title"] = "Registro";
        Layout = null;

    }
</head>



<body>

    <main>
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Crea una Cuenta</h5>
                                        <p class="text-center small">Ingrese sus datos personales para crear una cuenta</p>
                                    </div>

                                    <form class="row g-3" asp-action="Registro" asp-controller="Usuarios">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                        <div class="col-12">
                                            <label asp-for="IDEntrenador" class="form-label"></label>
                                            <input asp-for="IDEntrenador" id="IDEntrenador" class="form-control" readonly>
                                            <span asp-validation-for="IDEntrenador" class="text-danger"></span>
                                        </div>

                                        <div class="col-12">
                                            <label asp-for="Nombre" class="form-label">Nombre</label>
                                            <input asp-for="Nombre" class="form-control">
                                            <span asp-validation-for="Nombre" class="text-danger"></span>
                                        </div>

                                        <div class="col-12">
                                            <label asp-for="IDGenero" class="form-label">Nombre</label>
                                            <select asp-for="IDGenero" asp-items="Model.tiposGenero" class="form-select"></select>
                                            <span asp-validation-for="IDGenero" class="text-danger"></span>
                                        </div>


                                        <div class="col-12">
                                            <label asp-for="Password" class="form-label"></label>
                                            <input asp-for="Password" class="form-control">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>

                                      

                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Crear Cuenta</button>
                                        </div>
                                        <div class="col-12">
                                            <p class="small mb-0">Ya tienes una cuenta? <a asp-action="Login" asp-controller="Usuarios">Inicia Sesion</a></p>
                                        </div>
                                    </form>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->








    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Registro.js"></script>
    
</body>
</html>






















