@{
    ViewData["Title"] = "Home Page";
}


<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Aviso:</strong> Actualmente estás viendo los 151 Pokémon originales. Explora la lista completa para descubrirlos a todos.<br />
    <strong>Próximamente: </strong>En futuras actualizaciones, agregaremos más Pokémon de las regiones restantes, ¡así que mantente atento!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<div class="alertcontenedor" id="alertcontenedor">
  
</div>

<div class="tipo-pokemon">
    <label class="label form-label" for="tipo-pokemon">Tipo Pokemon</label>
    <input class="inputt form-control" id="tipo-pokemon" name="tipo-pokemon" placeholder="busca por el tipo pokemon. Ejemplo: rock" />
    <ul class="list-group rounded-3 lista-ul" id="lista">
    </ul>

</div>

<section class="seccion-paginacion" id="id-seccion">

    <div class="div-botones">
        <button type="button" class="btn btn-sm btn-primary" id="previous">Previous</button>
        <button type="button" class="btn btn-sm btn-primary" id="next">Next</button>
    </div>
</section>

<div class="contenedor-spinner" id="id-spinner">
</div>

<main>

    <div class="pokemons-todos border" id="listaPokemon">


    </div>

</main>






@section Scripts {
    <script src="~/js/home.js"></script>
    
}