
@{

    ViewData["title"] = "Items";

}



<section class="seccion-titulo" id="id-seccion">
    <h2>Items</h2>

    <div class="div-botones">
        <button type="button" class="btn btn-sm btn-primary" id="previous">Previous</button>
        <button type="button" class="btn btn-sm btn-primary" id="next">Next</button>
    </div>
</section>


<div class="contenedor-spinner" id="id-spinner">
</div>

<main class="items-todos border mt-2" id="listaItems">
   

</main>


@section Scripts {
    <script src="~/js/items.js"></script>

}
