
@{

    ViewData["title"] = "Mis Items";

}


<section class="seccion-titulo">
    <h2>Mis Items</h2>

   
</section>

<div class="contenedor-spinner" id="id-spinner">
</div>

<main class="items-todos border" id="listaItems">



</main>



@section Scripts {
    <script src="~/js/misItems.js"></script>

}