

@{
    ViewData["Title"] = "Mis Pokemon";
}


<h3>Mis Pokemon</h3>

<div class="contenedor-spinner" id="id-spinner">
</div>


<main>

    <div class="pokemons-todos border" id="listaPokemon">

    </div>

</main>



@section Scripts {
    <script src="~/js/misPokemon.js"></script>

}


